.ftco-section {
  padding: 4em 0; }

.ftco-no-pt {
  padding-top: 0; }

.ftco-no-pb {
  padding-bottom: 0; }

.heading-section {
  font-size: 28px;
  color: #000; }

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.form-control {
  height: 54px;
  background: #fff;
  color: #000;
  font-size: 14px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none; }
.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.7) !important; }
.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.7) !important; }
.form-control:-ms-input-placeholder {
  /* IE 0+ */
  color: rgba(0, 0, 0, 0.7) !important; }
.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.7) !important; }
.form-control:focus, .form-control:active {
  border-color: rgba(0, 0, 0, 0.1); }

.booking-form {
  width: 100%;
  background: #fff; }
@media (max-width: 767.98px) {
  .booking-form {
    padding: 20px; } }
@media (min-width: 768px) {
  .booking-form {
    padding-left: 30px; } }
.booking-form .form-group {
  position: relative;
  width: 100%;
  display: block;
  margin-bottom: 0; }
.booking-form .form-group label {
  font-weight: 700;
  font-size: 12px;
  color: #54d400;
  text-transform: uppercase;
  letter-spacing: 1px; }
.booking-form .form-group .icon {
  position: absolute;
  top: 50% !important;
  right: 10px;
  font-size: 8px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
.booking-form .form-group .icon span {
  color: rgba(0, 0, 0, 0.3) !important; }
.booking-form .form-group .select-wrap, .booking-form .form-group .input-wrap, .booking-form .form-group .form-field {
  position: relative; }
.booking-form .form-group .select-wrap select, .booking-form .form-group .input-wrap select, .booking-form .form-group .form-field select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
.booking-form .form-group .btn {
  width: 100%;
  display: block !important;
  position: relative; }
.booking-form .form-group .btn span {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-transform: uppercase;
  font-weight: 500; }
.booking-form .form-group .btn span small {
  color: #fff;
  display: block;
  text-transform: capitalize; }
.booking-form .form-group .btn:hover {
  color: #ff62a5; }
.booking-form .form-group .btn:hover small {
  color: #fff !important; }
.booking-form .form-control {
  border: 1px solid rgba(0, 0, 0, 0.05) !important;
  height: 40px !important;
  padding-left: 10px;
  padding-right: 25px;
  color: black;
  font-size: 14px;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-family: "Poppins", Arial, sans-serif;
  background: transparent !important; }
.booking-form .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: black; }
.booking-form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: black; }
.booking-form .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: black; }
.booking-form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: black; }
.booking-form .form-control:focus, .booking-form .form-control:active {
  border-color: #fff; }
.booking-form textarea.form-control {
  padding-top: 18px;
  height: 58px !important; }
.booking-form textarea.form-control-2 {
  padding-top: 18px;
  height: inherit !important; }
.booking-form .btn-primary {
  background: #54d400;
  border: none !important;
  border-radius: 0;
  font-size: 14px; }
.booking-form .btn-primary:hover, .booking-form .btn-primary:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
  background: #000;
  color: #fff !important; }

.center {
  margin-right: auto;
  margin-left: auto;
  max-width: 90%;
}