{% extends 'base.html.twig' %}

{% block title %}Upload{% endblock %}

{% block body %}
    {{ include('snippets/_navbar.html.twig') }}
    {{ include('snippets/_preloader.html.twig') }}
    <section id="cover" class="min-vh-100">
        <div id="cover-caption">
            <div class="container">
                <div class="row text-white">
                    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                        {{ include('snippets/_one_flash_message.html.twig') }}
                        <div class="px-2">
                            <div class="wrapper">
                                {{ form_start(form) }}
                                <div class="form-group">
                                    <label><strong>Upload Files</strong></label>
                                    <div class="custom-file">
                                        {{ form_widget(form.files) }}
                                        {{ form_label(form.files) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.button) }}
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
