<div class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
        <div class="container">
            <span class="navbar-brand" rel="nofollow" style="text-transform: uppercase;">PDP</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('search') }}">Search
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('upload') }}">Upload</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('truncate') }}">Clean DB</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>