<div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success hide-element">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger hide-element">
            {{ message }}
        </div>
    {% endfor %}
</div>