<div class="col-md-13 center">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Brand</th>
            <th scope="col">Color</th>
            <th scope="col">Kind</th>
            <th scope="col">Body</th>
            <th scope="col">Purpose</th>
            <th scope="col">Model</th>
            <th scope="col">Fuel</th>
            <th scope="col">Make year</th>
            <th scope="col">Dep</th>
            <th scope="col">Dep code</th>
        </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.brand }}</td>
                <td>{{ car.color }}</td>
                <td>{{ car.kind }}</td>
                <td>{{ car.body }}</td>
                <td>{{ car.purpose }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.fuel }}</td>
                <td>{{ car.makeYear }}</td>
                <td>{{ car.dep }}</td>
                <td>{{ car.depCode }}</td>
            </tr>
            {% else %}
                <tr>
                    <td>Cars not found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if cars %}
        <div class="navigation float-right">
            {{ knp_pagination_render(cars) }}
        </div>
    {% endif %}
</div>