<section class="ftco-section">
    <div class="center">
        <div class="row justify-content-center">
            <div class="col-md-12">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md d-flex py-md-4 mb-mb-0 mb-3">
                        <div class="form-group">
                            {{ form_label(form.general) }}
                            <div class="form-field">
                                <div class="icon"><span class="fa fa-search"></span></div>
                                {{ form_widget(form.general) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex py-md-4 mb-mb-0 mb-3">
                        <div class="form-group">
                            {{ form_label(form.brand) }}
                            <div class="form-field">
                                <div class="select-wrap">
                                    <div class="icon"><span class="fa fa-arrow-down"></span></div>
                                    {{ form_widget(form.brand) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex py-md-4 mb-mb-0 mb-3">
                        <div class="form-group">
                            {{ form_label(form.color) }}
                            <div class="form-field">
                                <div class="select-wrap">
                                    <div class="icon"><span class="fa fa-arrow-down"></span></div>
                                    {{ form_widget(form.color) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex py-md-4 mb-mb-0 mb-3">
                        <div class="form-group">
                            {{ form_label(form.kind) }}
                            <div class="form-field">
                                <div class="select-wrap">
                                    <div class="icon"><span class="fa fa-arrow-down"></span></div>
                                    {{ form_widget(form.kind) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex py-md-4 mb-mb-0 mb-3">
                        <div class="form-group">
                            {{ form_label(form.body) }}
                            <div class="form-field">
                                <div class="select-wrap">
                                    <div class="icon"><span class="fa fa-arrow-down"></span></div>
                                    {{ form_widget(form.body) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex py-md-4 mb-mb-0 mb-3">
                        <div class="form-group">
                            {{ form_label(form.purpose) }}
                            <div class="form-field">
                                <div class="select-wrap">
                                    <div class="icon"><span class="fa fa-arrow-down"></span></div>
                                    {{ form_widget(form.purpose) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex mb-mb-0">
                        <div class="form-group d-flex align-self-stretch">
                            {{ form_widget(form.search) }}
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>