{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    {{ include('snippets/_navbar.html.twig') }}
    {{ include('snippets/_preloader.html.twig') }}
    {{ include('snippets/_search_form.html.twig') }}
    {{ include('snippets/_search_table.html.twig') }}
{% endblock %}
